*{
    font-family:sans-serif;
}
nav{
    background-color: rgb(69, 70, 70);
}
.btn{
    color: #fff;
    background-color: cadetblue;
}
#modificar{
    background-color: rgb(238, 238, 238);
}
.modificar-body{
    background-color: rgb(219, 217, 217);
    text-align: center;
}
a{
    margin: 5%;
    font-size: 20px;
    text-decoration: none;
    color: #fff;

}