*{
    padding: 0%;
    margin: 0%;
    font-family: sans-serif;
}
/* encabezado */
header{
    background-color: rgb(124, 187, 189);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-align: right;
}
header a{
    color: #fff;
    text-decoration: none;
    padding-left: 5%;

}

/* navegador */
nav{
    background-color: cadetblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding-bottom: 0.4%;
}
strong{
    color: rgb(154, 212, 185); 
    font-family:cursive;
}
span{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav a{
    color: #fff;
    text-decoration: none;
    padding-left: 4%;
}
a:hover{
    color: rgb(182, 231, 202);
}
#logo{
    font-size: 30px;
    
}
form{
    display: inline-flex;
}
.btn{
    color: #fff;
    background-color: cadetblue;
}
.formulario{
    display: grid;
    padding: 5%;
}
#despacho{
    margin: 5%;
}
#despacho h1{
    margin: 3%;
}
/* section */
.section-body{
    padding: 15%;
    background-color: #fff;
    text-align: center;
}
/* footer */
footer{
    background-color: cadetblue;
    padding-bottom: 1%;
}
.social{
    padding: 1%;
    text-align: center;
}
.social h5{
    color: #fff;
}
.social a{
    color: #fff;
    margin: 1%;
    text-decoration:none;
}
.autor h6{
    text-align: center;
}
.social i{
    font-size: 40px;
}
.direccion{
    display: flex;
}

@media (max-width:1500px){
    .formulario{
        padding: 10%;
    }
}
@media (max-width:1000px){
    .formulario{
        padding: 15%;
    }
}
@media (max-width:800px){
    .formulario{
        padding: 20%;
    }
}
@media (max-width:500px){
    .formulario{
        padding: 20%;
    }
    .table{
        font-size: 7px;
    }
}