*{
    padding: 0%;
    margin: 0%;
}
/* encabezado */
header{
    background-color: rgb(124, 187, 189);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-align: right;
}
header a{
    color: #fff;
    text-decoration: none;
    padding-left: 5%;
}

/* navegador */
nav{
    background-color: cadetblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding-bottom: 0.4%;
}
nav a{
    color: #fff;
    text-decoration: none;
    padding-left: 4%;
}
#logo{
    font-size: 30px;
}
strong{
    color: rgb(154, 212, 185); 
    font-family:cursive;
}
form{
    display: inline-flex;
}
.btn{
    color: #fff;
    background-color: rgb(81, 170, 141);
    border-color: aqua;
}

/* section */

/* section cards */
#img-card{
    padding: 30px;
    width: 300px;
    height: 250px;
}
.formulario{
    display: grid;
    padding: 5%;
}
#titulo{
    font-size: 70px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: cadetblue;
    padding: 5%;
}

/* footer */
footer{
    background-color: cadetblue;
    padding: 1%;
}
footer h1{
    color: #fff;
    padding-top: 1%;
    font-size: 30px;
    text-align: center;
}

