{% extends 'core/base.html' %}

{% block contenido %}
{% load crispy_forms_tags %}
{% load humanize %}

<section>
    <div class="container">
        <h1 id="titulo" style="padding: 2%; color: rgb(124, 187, 189);" >PRODUCTOS ANIMALSHOP</h1>
        <div class="card">
            <div class="card-body">
                <table class="table table-striped table-hover table-responsive-sm">
                    <tr>
                        <th>NOMBRE</th>
                        <th>APELLIDO</th>
                        <th>CORREO</th>
                        <th>PRODUCTO</th>
                        <th>PRECIO</th>
                        <th>ESTADO</th>
                    </tr>
                    {% for h in entity %}
                    <tr>
                        <td>{{h.nombre | title }}</td>
                        <td>{{h.apellido  | title}}</td>
                        <td>{{h.correo }}</td>
                        <td>CORREA</td>
                        <td>$5000</td>
                        <td>{{h.estado}}</td>  
                    </tr>
                    {% endfor %}
                </table>
                <div>
                    {% include 'core/paginator.html' %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}